<p-card header="WaterMeter List" [style]="{width: '100%'}">
  <div>
    <button
      pButton
      type="button"
      [routerLink]="['/watermeter-create/']"
      label="Create"
    ></button>
  </div>
  <p-table [value]="watermeterList">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">{{ col.header }}</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-watermeter>
      <tr>
        <td *ngFor="let col of cols">{{ watermeter[col.field] }}</td>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            title="Edit Item"
            class="ui-button-warning"
            [routerLink]="['/watermeter-detail/', watermeter.id]"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            title="Delete Item"
            class="ui-button-danger"
            (click)="removeWaterMeter(watermeter.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
